/* You can add global styles to this file, and also import other style files */
body {
  font-family: Kumbh Sans;
  font-size: 18px;
  background-image: url("assets/bg-pattern-top.svg"), url("assets/bg-pattern-bottom.svg");
  background-position: -125px -300px, 950px 400px;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 75%, 39%);
}
